<p-dataTable [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="2">
  <p-column field="nome" header="Nome"></p-column>
  <p-column field="cidade" header="Cidade"></p-column>
  <p-column field="estado" header="Estado"></p-column>
  <p-column field="ativo" header="Status">
    <ng-template let-pess="rowData" pTemplate="body">
      <a href="javascript:;" [pTooltip]="pess.ativo ? 'Desativar': 'Ativar'" tooltipPosition="top">{{pess.ativo ? 'Ativo' : 'Inativo'}}</a>
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
    <ng-template pTemplate="body">
      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
      <a pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></a>
    </ng-template>
  </p-column>
</p-dataTable>
